$large-x : 1600px;
$large : 1366px;
$medium : 900px;
$ipad-p : 768px;
$ipad-l : 1024px;
$mobile : 767px;

$color-a7: #A7A7A7;
$color-70: #707070;
$color-f3: #F3F3F3;
$color-theme-blue: #24B9D1;
$color-blue-disabled: #69D9EB;
$color-breadcrumb: #EE317F;

@mixin breadcrumb {
    background-color: $color-breadcrumb;
    height: 70px;
    line-height: 20px;
    padding: 25px;
    border-radius: 0px;
    margin-bottom: 0px;
    p {
        font-family: din-regular;
        font-size: 16px;
        color: #FFF;
        text-align: right;
    }
}

@mixin page-description {
    font-family: din-regular;
    font-size: 24px;
    line-height: 40px;
    padding: 60px 0px;
    color: $color-a7;
    text-align: center;
}

@mixin blue-button {
    background-color: $color-theme-blue;
    color: #FFF;
    font-family: din-regular;
    font-size: 24px;
    line-height: 60px;
    width: 250px;
    height: 60px;
    border-radius: 30px;
    margin-top: 40px;
}

@mixin subscription {
    background-color: $color-theme-blue;
    padding: 90px 0;
    p {
        text-align: center;
        font-family: din-regular;
        font-size: 24px;
        color: #FFF;
        &.title {
            font-size: 40px;
            margin-bottom: 20px;
        }
    }
}