$large-x : 1600px;
$large : 1366px;
$medium : 900px;
$ipad-p : 768px;
$ipad-l : 1024px;
$mobile : 767px;

$color-a7: #A7A7A7;
$color-70: #707070;
$color-theme-blue: #24B9D1;
$color-blue-disabled: #69D9EB;
$color-breadcrumb: #EE317F;

@mixin banner-imge {
    
}