@font-face {
    font-family: 'DINLight';
    src: url('../Assets/Fonts/DINLight.ttf') format('truetype');
}

@font-face {
    font-family: 'DINRegular';
    src: url('../Assets/Fonts/DINRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'DINMedium';
    src: url('../Assets/Fonts/DINMedium.ttf') format('truetype');
}  
.navbar {
    min-height: 75px;                
}
.navbar-collapse{
    overflow-x: hidden;
}
.navbar-default {
    background-color: white;
}

body {
    font-family: DINRegular;
}
.violet-red-section{
    background-color: #EE317F; 
    height: 10px;   
    display: table-row;
    line-height: 10px;            
} 
.azure-section{
    background-color: #3765B0;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 22px;
}   
.navbar-nav>li>a {        
	@media (min-width: 768px){    
        padding-top: 27px;
        padding-bottom: 27px;
    }                
} 
.navbar-nav {       
	@media (max-width: 768px){    
        margin: 10.5px -15px;
    }   
}
.subscribe-section {
    background-color: #24B9D1;
    color: white;
    text-align: center;
    height: 290px;    
    display: table;
    width: 100%;

    .subscribe-section-content-wrapper {
        display: table-cell;
        vertical-align: middle;

        .section-heading{
            font-family: DINMedium; 
            font-size: 24px;
            padding-bottom: 10px
        }

        p {
            width: 44%; 
            margin: 0 auto;
        }

        .subscribe-button {
            border: 2px solid white;
            width: 150px;
            border-radius: 25px;
            margin: 25px auto 0;;
            font-family: DINMedium;
            padding: 10px;
        }

        .subscribe-button {
            border: 2px solid white;
            width: 150px;
            border-radius: 25px;
            margin: 25px auto 0;;
            font-family: DINMedium;
            padding: 10px;
        }
    }
}
.quick-links-section {
    text-align: center;
    height: 250px;    
    display: table;
    width: 100%;

    .quick-links-section-content-wrapper {
        margin: 55px auto;
        color: #76777B;

        .left-section{
            border-right: 1px solid #76777B;
        }

        .right-section{
            text-align: left;

            .col-md-12{
                margin-top: 15px;
            }   

            .social-icons-wrapper{
                margin-top: 15px;

                .social-icon {

                    img{
                        margin: 5px;
                        width: 60%;
                    }
                }
            }         
        }

        .contact-details{
            width: 200px;
            text-align: left;
            font-family: Arial;
            margin: 15px auto 0;
            white-space: nowrap;
        }

        .rectangle-box{
            height: 11px;
            width: 7px;
            border: 1px solid #76777B;
            display: inline-block;  
            margin-right: 3px;             
        }

        .opacity0{
            opacity: 0;
        }

        .link-heading {
            font-family: DINMedium;
            color: #24B9D1;
            font-size: 20px;                
        }

        .links{
            margin-top: 3px;

            a{
                font-family: DINRegular;
                color: #76777B;              
            }

            .pipe {
                display: inline-block;
                padding: 0px 10px;
            }
        }
    }
}
.copyright-section {
    display: table;
    width: 100%;
} 
.home-page {
	p {
		color: #A7A7A7;
		font-size: 24px;
	}

	.flex-row {
		display: flex;
	}

	.slick-next {
		right: 0;
	}

	.slick-prev {
		left: 0;
	}

	.slick-dotted.slick-slider {
		margin-bottom: 0;
	}

	.home-slider {
		.slide {
			height: 100vh;
			min-height: 400px;
			background-size: cover !important;
			background-position: center !important;
			position: relative;
			
			.content {
				position: absolute;
			    bottom: 41px;
			    left: 50px;

				h1 {
					color: white;
					text-transform: uppercase;
					font-family: din-regular;
					font-size: 35px;
					line-height: 40px;
				}

				.blue-btn {
					margin-top: 15px;
				}
			}
		}
		.slick-dots {
			bottom: 20px;
		}
	}

	.about-us-section {
		padding: 35px 3% 80px 3%;

		.flex-row {
			justify-content: space-between;
			margin-top: 60px;
		}
		.left-sect {
			width: 48%;
			img {
				width: 100%;
			}
		}
		.right-sect {
			width: 48%;
			p {
				font-family: din-regular;
				line-height: 29px;
			}
			a {
				margin-top: 20px;
			}
		}

	}

	.section-heading {
		color: #76777B;
		text-transform: uppercase;
		text-align: center;
		position: relative;
		padding-bottom: 10px;
		margin-bottom: 20px;
		font-family: din-medium;
		font-size: 32px;
		&:after {
			content: "";
			display: inline-block;
			width: 60px;
			height: 3px;
			background: #24B9D1;
		    bottom: 0;
		    position: absolute;
		    left: 50%;
		    transform: translateX(-50%);

		}
	}

	.cards-section {
		background: #F3F3F3;

		.flex-row {
			justify-content: center;
		}
		.cards {
			width: 40%;
			max-width: 600px;
			margin: 3%;
			background: white;
			border-radius: 42px;
			position: relative;
			padding-bottom: 80px;

			img {
				max-width: 100%;
			}
			p {
				font-size: 18px;
			}

			.card-title {
				color: #76777B;
    			font-size: 30px;
    			margin-bottom: 14px;
			}
			.card-content {
				padding: 0 20px;
			}

			.blue-btn {
				position: absolute;
				bottom: 20px;
				left: 20px;
			}
		}
	}

	.partners-section {
		padding: 35px 3% 80px 3%;

		.subtitle {
			text-align: center;
			margin-bottom: 20px;
		}

		.home-partners-carousel {
			max-width: 1100%;
    		margin: 0 auto;
    		width: 95%;

    		.carousel-slide {
    			height: 200px;
    			align-items: center;
			    justify-content: center;
			    display: flex;
    		}
		}
	}

	.links-section {
		.flex-row {
			display: flex;
			.link-sect {
				flex: 1;
				display: flex;
				justify-content: center;
				align-items:center;
				height: 200px;
    			flex-wrap: wrap;
    			flex-direction: column;
				
				&.purple {
					background: #EE317F;
					a {
						background: white;
						color: #EE317F;
						border-radius: 29px;
						padding:  10px 25px;
					}
				}
				&.blue {
					background:#3765B0;
					a {
						background: white;
						color: #3765B0;
						border-radius: 29px;
						padding:  10px 25px;
					}
				}

				h3 {
					color: white;
					text-align: center;
					width: 100%;
					font-size: 29px;
    				margin-bottom: 10px;
				}
			}
		}
	}

	.social-media-section {
		padding: 35px 3% 80px 3%;
		
		.sm-title {
			color: #24B9D1;
			font-size: 18px;
			text-align: center;
			margin-bottom: 10px;
		}

		.carousel-slide {
			img {
				max-width: 86%;
			}
		}
	}
}