@font-face {
  font-family: din-light;
  src: url("../Assets/Fonts/DIN/DIN-Light.ttf"),
       url('../Assets/Fonts/DIN/din-light-webfont.woff2') format('woff2'),
       url('../Assets/Fonts/DIN/din-light-webfont.woff') format('woff');
}
@font-face {
  font-family: din-regular;
  src: url("../Assets/Fonts/DIN/DIN-Regular.ttf"),
       url('../Assets/Fonts/DIN/din-regular-webfont.woff2') format('woff2'),
       url('../Assets/Fonts/DIN/din-regular-webfont.woff') format('woff');
}
@font-face {
  font-family: din-medium;
  src: url("../Assets/Fonts/DIN/DIN-Medium.ttf"),
       url('../Assets/Fonts/DIN/din-medium-webfont.woff2') format('woff2'),
       url('../Assets/Fonts/DIN/din-medium-webfont.woff') format('woff');
}
.main-wrapper {
  width: 100%;
  overflow: hidden;
}
.blue-btn {
	background: #24B9D1;
	color: white;
	padding: 10px 40px;
    border-radius: 29px;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
}

.section-heading {
    color: #76777B;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-family: din-medium;
    font-size: 32px;
    &:after {
      content: "";
      display: inline-block;
      width: 60px;
      height: 3px;
      background: #24B9D1;
        bottom: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

    }
    @media(max-width: 1366px) {
      font-size: 28px;
    }
    @media(max-width: 640px) {
      font-size: 18px;
      line-height: 24px;
    }
  }

.body-wrapper {
  &.container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}