@font-face {
  font-family: din-light;
  src: url("../assets/fonts/DINLight.ttf");
}
@font-face {
  font-family: din-regular;
  src: url("../assets/fonts/DINRegular.ttf");
}
@font-face {
  font-family: din-medium;
  src: url("../assets/fonts/DINMedium.ttf");
}
.main-wrapper {
  width: 100%;
  overflow: hidden;
}
.blue-btn {
	background: #24B9D1;
	color: white;
	padding: 10px 40px;
    border-radius: 29px;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
}

.body-wrapper {
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}