
.navbar {
    min-height: 115px;    
    
    .header-container {
        width: 85%;
        margin: 0 auto;
    }

    .login-li {
        padding: 8px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .login-button {
        display: table;
        border: 1px solid #24B9D1;
        margin-top: 27px;
        padding: 8px;
        font-size: 1.05em;
        color: #24B9D1;
        border-radius: 21px;        
        font-family: din-regular;

        img {
            display: table-cell;
        }

        .login-text {
            display: table-cell;
            vertical-align: middle;
            font-weight: bold;
            padding-left: 10px;
        }
    }

    .search-icon {
        margin-top: 43px;
    }
}
.navbar-collapse{
    overflow-x: hidden;
}
.navbar-default {
    background-color: white;
}

body {
    font-family: din-regular;
}
.violet-red-section{
    background-color: #EE317F; 
    height: 10px;   
    display: table-row;
    line-height: 10px;            
} 
.azure-section{
    background-color: #3765B0;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 22px;
}   
.navbar-nav>li>a {   
    font-weight: bold;
    font-family: din-regular;
    font-size: 1.05em;     

    @media (min-width: 768px){    
        padding-top: 48px;
        padding-bottom: 48px;
    }                
} 
.navbar-nav {   
    
    li>a.arabic-button {
        display: inline-block;
        background-color: #24B9D1;
        color: white;
        font-size: 0.8em;
        padding: 8px;
        margin-top: 38px;
        border-radius: 8px;
        
        &:hover{
            background-color: #24B9D1;
        }
    } 
    @media (max-width: 768px){    
        margin: 10.5px -15px;
    }   
}
.subscribe-section {
    background-color: #24B9D1;
    color: white;
    text-align: center;
    height: 290px;    
    display: table;
    width: 100%;

    .subscribe-section-content-wrapper {
        display: table-cell;
        vertical-align: middle;

        .section-heading{
            font-family: din-medium; 
            font-size: 24px;
            padding-bottom: 10px
        }

        p {
            width: 44%; 
            margin: 0 auto;
        }

        .subscribe-button {
            border: 2px solid white;
            width: 150px;
            border-radius: 25px;
            margin: 25px auto 0;;
            font-family: din-medium;
            padding: 10px;
        }

        .subscribe-button {
            border: 2px solid white;
            width: 150px;
            border-radius: 25px;
            margin: 25px auto 0;;
            font-family: din-medium;
            padding: 10px;
        }
    }
}
.quick-links-section {
    text-align: center;
    height: 250px;    
    display: table;
    width: 100%;

    .quick-links-section-content-wrapper {
        margin: 55px auto;
        color: #76777B;

        .left-section{
            border-right: 1px solid #76777B;
        }

        .right-section{
            text-align: left;

            .col-md-12{
                margin-top: 15px;
            }   

            .social-icons-wrapper{
                margin-top: 15px;

                .social-icon {

                    img{
                        margin: 5px;
                        width: 60%;
                    }
                }
            }         
        }

        .contact-details{
            width: 200px;
            text-align: left;
            font-family: Arial;
            margin: 15px auto 0;
            white-space: nowrap;
        }

        .rectangle-box{
            height: 11px;
            width: 7px;
            border: 1px solid #76777B;
            display: inline-block;  
            margin-right: 3px;             
        }

        .opacity0{
            opacity: 0;
        }

        .link-heading {
            font-family: din-medium;
            color: #24B9D1;
            font-size: 20px;                
        }

        .links{
            margin-top: 3px;

            a{
                font-family: din-regular;
                color: #76777B;              
            }

            .pipe {
                display: inline-block;
                padding: 0px 10px;
            }
        }
    }
}
.copyright-section {
    display: table;
    width: 100%;
}