.navbar {
    min-height: 115px;    
    
    @media screen and (max-width: 1068px){ 
        min-height: 100px;
    } 
    @media screen and (max-width: 768px){ 
        min-height: 80px;
    }

    .header-container {
        width: 85%;
        margin: 0 auto;

        @media (max-width: 1410px){  
            width: 95%;
            font-size: 0.8em;
        }  
        @media (max-width: 1068px){  
            width: 95%;
            font-size: 0.7em;
        } 
        @media (max-width: 910px){  
            width: 99%;
            font-size: 0.7em;
        }  
        @media (max-width: 823px){  
            width: 99%;
            font-size: 0.7em;
        } 
        @media (max-width: 786px){  
            width: 100%;
        }
        @media screen and (max-width: 767px){  
            width: 90%;
            min-height: 80px;
        } 
    }
    .navbar-header {

        .navbar-brand {

            img {
                width: 160px;

                @media (max-width: 1068px){  
                    width: 120px;
                }

                @media (max-width: 808px){  
                    width: 95px;
                } 
            }
        }
    }

    .navbar-right{
        @media (max-width: 1068px){  
            margin-right: 0;
        } 
    }

    .login-li {
        padding: 8px;
        padding-right: 15px;
        padding-left: 15px;

        @media (max-width: 1068px){  
            padding-top: 0;
        } 
    }
    .login-button {
        display: table;
        border: 1px solid #24B9D1;
        margin-top: 27px;
        padding: 8px;
        font-size: 1.05em;
        color: #24B9D1;
        border-radius: 21px;        
        font-family: din-regular;

        img {
            display: table-cell;
        }

        .login-text {
            display: table-cell;
            vertical-align: middle;
            font-weight: bold;
            padding-left: 10px;
        }

        @media (max-width: 786px){  
            font-size: 0.99em;
        } 
    }

    .search-icon {
        margin-top: 43px;
        @media (max-width: 1068px){  
            margin-top: 35px;
        }
    }
}
.navbar-collapse{
    overflow-x: hidden;
}
.navbar-default {
    background-color: white;
}

body {
    font-family: din-regular;
}
.violet-red-section{
    background-color: #EE317F; 
    height: 10px;   
    display: table-row;
    line-height: 10px;            
} 
.azure-section{
    background-color: #3765B0;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 22px;
}   
.navbar-nav>li>a {   
    font-weight: bold;
    font-family: din-regular;
    font-size: 1.05em;     

    @media (min-width: 768px){    
        padding-top: 48px;
        padding-bottom: 48px;
    }   
    @media (max-width: 1340px){ 
        font-size: 0.8em;
    }  
    @media (max-width: 1068px){ 
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 0.7em;
    } 
    @media (max-width: 910px){ 
    }  
    @media (max-width: 850px){  
        width: 99%;
        padding-right:10px;
        padding-left: 10px;
    } 
} 
.navbar-nav {   
    
    li>a.arabic-button {
        display: inline-block;
        background-color: #24B9D1;
        color: white;
        font-size: 0.8em;
        padding: 8px;
        margin-top: 38px;
        border-radius: 8px;
        
        &:hover{
            background-color: #24B9D1;
        }
        
        @media (max-width: 1068px){ 
            margin-top: 30px; 
        } 
    } 
    @media (max-width: 767px){    
        margin: 10.5px -15px;
    }   
}
.main-wrapper {
    margin-top: 115px;
    @media screen and (max-width: 1068px){ 
        margin-top: 100px;
    }
    @media screen and (max-width: 768px){ 
        margin-top: 80px;
    }
}